body{
	font-family: Helvetica, Roboto, Arial, sans-serif;
	margin: 0 auto;
}



/*			CABEÇALHO			*/
.header{
	background-color: #0074BC;
	box-shadow: #C0C0C0 2px 2px 1px;
}



/*			TELA 	DE 	LOGIN			*/

.logo-esquerdo{
	width: 190px;
	height: 85px;
	background-color: #0074BC;
}

.logo-direito{
	float: right;
	width: 100px;
	height: 85px;
}

.icone{
	margin: 1.5% auto 1%;
	width: 180px;
	height: 180px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-image: url("../imagens/gaveteiro-logo1.png");
	background-position: center;	
	background-repeat: no-repeat;
	background-color: #0074BC;
}

.logar{
	margin: 0 auto;
	width: 300px;
}

.logar input[type=text]{
	padding: 5px;	
	width: 100%;
	margin: 5px auto 20px;
	
}

.logar input[type=password]{
	padding: 5px;
	width: 100%;
	margin: 5px auto 7px;
}

.logar a{
	font-size: 13px;
	color: #0074BC;	
}

.logar h2{
	color: #0074BC;
	margin-bottom: 6%;
	font-size: 24px;
	font-weight: bolder;
}

.bt_logar{
	background-color: #0074BC;
	padding: 10px;
	color: white;
	width: 100%;
	margin: 15px auto;
	border: none;	
}

.bt_logar:hover{
	background-color: #005890;
}



/*			ESQUECEU SUA SENHA			*/

.bt_recuperar{
	background-color: #0074BC;
	padding: 10px;
	color: white;
	width: 100%;
	margin: 0px auto 30px;
	border: none;	
}

.bt_recuperar:hover{
	background-color: #005890;
}



/*			RODAPE					*/

.rodape{
	position: fixed;
	width: 100%;
	height: 35px;
	top: auto;
	bottom: 0px;
	background-color: #363636;	
	color: white;
	font-size: 16px;
	text-align:center;
	box-shadow: 0 0 3px 0 #000;
}

.rodape p{	
	padding-top: 6px;
	font-family: Arial, Helvetica, sans-serif;
}




/*				MENU 	PEDIDOS  - QUADRANTE ESQUERDO    	*/


.menu{
	background-color: #0074BC;
	height:100%;
	overflow: hidden;
}

.left-menu{
	padding-top: 50px;
	text-align: center;
}

.left-menu div{
	margin-top: 20px;
}

.left-menu a{
	color: white;
	font-size: 20px;
	text-decoration:none;
	font-weight: bolder;
	
}

.left-menu a:hover{
	font-size: 20px;
	text-decoration:none;
	font-weight: bolder;
	color: #C3C3C3;
	transition: 0.2s;
}

.divisao-menu{
	border-bottom: 2px solid white;
	padding-bottom: 15px;
	
}

.icone-gaveteiro{
	margin: 0 auto;
	width: 130px;
	height: 130px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-image: url("../imagens/gaveteiro-logo4.png");
	background-position: center;	
	background-repeat: no-repeat;
	background-color: white;
}


/*				MENU 	PEDIDOS  - QUADRANTE DIREITO    	*/


.centralizar-linha{
	text-align: center;	
}

.lista-pedidos{
	margin-top: 20px;	
}

.paginacao-pedidos ul{
	margin: 0;
	float: right;
}

.titulo-lista{
	margin: 0 auto;
	color: white;
	font-size: 21px;
	text-align: center;
}


/*			MODAL 		DADOS 		PEDIDOS			*/

.modal-pedido{
	 overflow: hidden;	
}


.titulo-pedido{
	margin: 0 auto;
	color: white;
	font-size: 21px;
	font-weight: bolder;
	overflow: hidden;	
}

.titulo-pedido select{
	float: right;
	color: black;
	font-size: 16px;
	padding: 5px;
	font-weight: none;
}

.pedido-total{
	background-color: #d3d3d3;
	padding: 1px;
	text-align: center;
}

.pedido-total p{
	font-size: 20px;
	margin-top: 8px;
	color: black;
	right: 10px;
}


.modal-fechar {
	margin-bottom: 30px;
	
}



/*				MEDIAS SCREENS 			*/


@media screen and (max-width: 999px){

.menu{
		height: auto;
		min-height: auto;
		padding: 10px;
		width: 100%;
	}
	
.left-menu{
	padding-top: 5px;
}

.divisao-menu{
	border-bottom: none;	
}

.divisao-menu a{
	border-bottom: 2px solid white;
	padding-bottom: 15px;
	
}


@media screen and (max-width: 640px){

.icone{
	margin: 5% auto 2%;
	width: 140px;
	height: 140px;
	background-image: url("../imagens/gaveteiro-logo2.png");
}

.titulo-pedido select{
	width: 100%;
	
}

}


@media screen and (max-width: 320px){

.logo-esquerdo{
	width: 150px;
	height: 65px;
	background-color: #0074BC;
}



.logo-direito{
	float: right;
	width: 80px;
	height: 65px;
}



}
